@charset "utf-8";
/* CSS Document */
/*
/*
/*
/*
/*
/*
/*      OSTICKET AWESOME
/*      Client - Mobile
/*
/*
/*
/*
*/


@media only screen and (max-width:860px){
	
	body {
		margin: 0px;
		background: #000;
	}

	
/* ==========================================================================
 HEADER
========================================================================== */

	#header {
		position: fixed;
		width: 100%;
		height: 40px;
	    padding: 11px 0px 9px 12px;
		background: #747373;
		z-index: 999999;
		top: 0;
	}
	#header-links {
		display: none;
	}
	#mobile_right_buttom {
		display: inline;
	}
	#container {
		background: #fff;
		width: 100%;
	    border-radius: initial!important;
	    padding-top: 60px;	
	}	
	div#right_menu {
		z-index: 999998;
	}
	

/* ==========================================================================
 LOGO
========================================================================== */

a#header-logo-link {
    zoom: 0.8;
}
#header-logo a {
    color: rgba(192,192,192,0.3)!important;
}
#header-logo a:hover {
    color: rgba(192,192,192,0.3)FFF!important;
}


/* ==========================================================================
 NAVIGATION  
========================================================================== */

#nav {
    display: none;
}
#nav-right{
    background: #3633FF;
    height: 50px!important;
    padding-top: 0px;
    z-index: 200;
    border-top: 0px solid #ddd;
    border-bottom: 0px solid #c5d9ec;
    border-radius: 6px 6px 0px 0px;
    position: relative;
    top: -10px;
    margin: 10px 0 0px 0!important;
    padding: 0px!important;
}
#nav-right li {
    display: block;
}
#nav-right li a {
    background-image: initial!important;
    color: rgba(192,192,192,0.3);
    font-size: 17px;
    height: 36px;
    display: inline-block;
    width: 237px;
    text-align: left;
    padding: 0px;
    margin-left: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}
div#internationalization-container {
    display: none;
}
button#mobile_right_buttom {
    position: absolute;
    top: 0;
    right: 0;
/*     zoom: .35;
    margin: 37px; */
}


/* ==========================================================================
 SIDR MENU code in footer.inc
========================================================================== */

button.c-hamburger.c-hamburger--htx {
    display: inline;
}
.sidr ul {
    display: block;
    margin: 59px 0 15px;
    padding: 0;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #4d4d4d;
}
span.header-logo-text {
	font-size:11px;
    margin: -5px 0 0 0!important;
    position: relative;
    top: -5px;
    letter-spacing: 3px;	
    color: rgba(192,192,192,0.3);	
}
ul#nav-mobile {
    margin: 60px 0 0 0;
}
div#welcome {
    background: #1a96f3;
    padding: 15px 15px!important;
}
li#contact-id {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: initial!important;
    background: #262525;
}
li#contact-id a {
    border-top: 1px solid #494949;
}
li#contact-id {
    box-shadow: initial!important;
    background: #262525;
    border-top: 1px solid rgb(26, 26, 26);
}

/* ==========================================================================
 OPEN TICKET open.inc.php
========================================================================== */

#content {
    padding: 0px;
    margin: 10px;
}
table#open-ticket-table {
    width: 100%;
}
select, 
input.dp, 
input#query, 
input[type="text"], 
.form-field, 
.form_table input[type=text], 
.form_table input[type=password], 
.form_table textarea {
    width: 90%!important;
    margin: 5px 0 15px 0!important;	
}
.error-asterisk {
    margin-left: -2px;
}


/* ==========================================================================
 INPUTS
========================================================================== */



/* ==========================================================================
 REDACTOR
========================================================================== */



/* ==========================================================================
 CAPTCHA
========================================================================== */



/* ==========================================================================
 BUTTONS
========================================================================== */




/* ==========================================================================
 MESSAGES: ERRORS, NOTICES AND WARNINGS
========================================================================== */

.error {
    color: #d62705;
    font-weight: bold;
    margin: -10px 0px 10px 0px!important;
}


/* ==========================================================================
 WELCOME PAGE LANDING PAGE BOXES 
========================================================================== */

/* The mobile version of this is managed at the bottom of awesome-client-desktop.css */
	

/* ==========================================================================
 CHECK TICKET STATUS
========================================================================== */


/* ==========================================================================
 CHECK TICKET STATUS
========================================================================== */



/* ==========================================================================
 MANAGE YOUR PROFILE INFORMATION
========================================================================== */



/* ==========================================================================
 FORGOT MY PASSWORD
========================================================================== */



/* ==========================================================================
 TICKETS tickets.inc
========================================================================== */

table#ticketInfo {
    width: 100%;
	background: rgba(192,192,192,0.3);
}
table.thread-entry.message, table.thread-entry.response  {
    width: 100%!important;
}
.thread-body {
    width: 100%;
}





/* ==========================================================================
 LOADING ANIMATION
========================================================================== */




/* ==========================================================================
 FOOTER
========================================================================== */




}

/*
/*
/*
/*
/*
/*
/*      
/*      Client - EXTRA SMALL SCREEN
/*
/*
/*
/*
*/
@media only screen and (min-width:361px) and (max-width:500px){
	p.buttons-center.ticket-view {
	zoom: .75;
	}
	table#ticketTable {
		width: 100%;
	}
	table#ticketTable .id a, table#ticketTable a {
		font-size: 12px!important;
	}
}

@media only screen and (min-width:400px) and (max-width:460px){
	table#ticketTable .id a, table#ticketTable a {
		font-size: 11px!important;
	}
}

@media only screen and (min-width:100px) and (max-width:360px){
	table#ticketTable {
    width: 100%;
	}
	p.buttons-center.ticket-view {
		zoom: .75;
		margin: 0px 10px 84px 10px;
		height: 75px;
	}	
	input[type="button"], input[type="reset"], input[type="submit"] {
		min-width: initial;
		margin:0px!important;
		letter-spacing: 1px!important;
		padding: 0px 16px!important;
	}
	
	table#ticketTable .id a,table#ticketTable a {
		font-size: 10px!important;
	}	
	#ticketTable td {
		padding: 1px!important;
		vertical-align: middle!important;
	}
	td.created {
		font-size: 9px!important;
	}
	.page-links {
		font-size: 10px;
	}
	#ticketTable th {
		line-height: 10px!important;
	}
	td.id {
		text-align: center;
	}		
}


/* ==========================================================================
 TICKET VIEW view.inc
========================================================================== */

@media only screen and (min-width:701px){
	
	table#ticketInfo {
		display:inline;
	}
	table#ticketInfo-mobile {
		display:none;
	}	
}

@media only screen and (max-width:700px){
	
	table#ticketInfo {
		display:none;
	}
	table#ticketInfo-mobile {
		display:inline;
	}	
	#ticket-view-number {
		float: left;
		font-size: 17px;
		margin-top: 10px;
	}
	table#ticketInfo-mobile th {
		white-space: nowrap;
	}	
	.infoTable {
		margin: 10px 0 0 0;
		background: initial;
		margin: 10px 0 0 0;
		font-size: 13px;
	}
	table.infoTable th {
		padding: 0 20px 10px 0px;
		width: 100px;
	}	
	.thread-body {
		padding: 0px;
	}	
	#reply {
		padding: 4px 7px 7px 7px;
		background: #ececec;
		border: 1px solid #B6B6B6;
		border-top: 1px solid #B6B6B6;
		border-radius: 6px;
	}	
	p.buttons-center.ticket-view {
		zoom: .75;
		margin: 19px 10px 0px 10px;
		height: 75px;
	}	
}